.contact {
  max-width: 86rem;
  width: 90%;
  margin: auto;
  padding-bottom: 10rem;

  h1 {
    color: var(--clr-primary);
    font-family: $lilita;
    font-size: 3.6rem;
    text-align: center;
    margin: 20rem 0 10rem;

    @include tablet {
      margin: 10rem 0 10rem;
    }
  }

  form {
    text-align: center;

    .form-wrap {
      display: flex;
      width: 100%;

      @include tablet-custom {
        flex-direction: column;
      }

      .form-field {
        position: relative;

        label {
          background: var(--bg-primary);
          padding: 0rem 0.4rem;
          border-radius: 3rem;
          font-size: 1.6rem;
          color: var(--clr-primary);
          position: absolute;
          top: -1rem;
          left: 0.5rem;
          font-weight: fw(medium);
        }

        input,
        textarea {
          width: 100%;
          background: none;
          border: 0;
          -webkit-box-shadow: inset 0 0 0 0.1rem var(--border-light);
          -moz-box-shadow: inset 0 0 0 0.1rem var(--border-light);
          box-shadow: inset 0 0 0 0.1rem var(--border-light);
          border-radius: 0.2rem;
          padding: 1rem 0.9rem;
          letter-spacing: 0.5;
          transition: all 0.15s ease;

          &:hover {
            box-shadow: inset 0 0 0 0.1rem var(--border-dark);
          }
          &:focus {
            box-shadow: inset 0 0 0 0.2rem var(--border-dark);
          }

          @include tablet-custom {
            box-shadow: none;
            border: 0.1rem solid var(--border-light);

            &:hover {
              box-shadow: none;
            }
            &:focus {
              box-shadow: none;
              border: 0.1rem solid var(--border-dark);
            }
          }
        }

        input {
          min-height: 4rem;
        }

        textarea {
          resize: none;
          min-height: 20rem;
          font-family: $mulish;
        }
      }

      .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 3rem;

        @include tablet-custom {
          margin: 0 0 4rem 0;
        }

        & > *:not(:last-child) {
          margin-bottom: 4rem;
        }
      }

      .right {
        width: 100%;
      }
    }

    .submit-btn {
      @include btn-primary;

      margin-top: 4rem;
      padding: 1rem 3.2rem;

      &:hover:before,
      &:hover:after,
      &:focus:before,
      &:focus:after {
        width: 100%;
        height: 100%;
      }
    }
  }
}
